<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <link rel="stylesheet" href="../select-company/index.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Seleccion-Empresas</title>
  </head>
  <body>
    <div
      id="principal"
      class="flex flex-col justify-center items-center m-8 mt-4 border-2 h-screen text-center border-gray-200 rounded-lg dark:border-gray-700"
    >
      <h1 class="mt-2 pt-4">Seleccione una Empresa</h1>
      <select id="empresa-select" class="mt-4 cursor-pointer">
        <option value="" disabled selected>Select a company</option>
      </select>
      <div class="flex space-x-4 mt-2">
        <button
          id="continue-btn"
          class="bg-gray-700 text-white rounded p-2 mt-4 hover:bg-gray-500 cursor-not-allowed"
        >
          Continuar
        </button>
        <button
          id="registrar-btn"
          class="flex bg-gray-700 text-white rounded p-2 mt-4 hover:bg-gray-500"
        >
          Registrar
        </button>
      </div>
      <div
        id="pre-index"
        class="flex flex-col justify-center items-center h-screen text-center w-7/12 p-8 border-gray-200 rounded-lg"
      ></div>
    </div>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
